* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/plano-fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 2px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.container header button{
    background-color: rgb(70, 108, 212);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    border-radius: 24px;
    margin-top: 6px;
    margin-left: 18px;
    padding: 8px;
    border: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

form {
    display: flex;
    width: 100%;
    align-items: baseline;
}

form input {
    text-align: center;
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 5px;
    margin-left: 12px;
    border-radius: 10px;
}

form button {
    background-color: rgb(70, 108, 212);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 18px;
    padding: 8px;
    border: none;
}


.stylesheet {
    max-height: 100%;
    max-width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: rgba(8, 29, 151, 0.836);
    border-radius: 24px;
}

#tarefa-lista {
    list-style-type: none;
    padding: 8px;
    margin-bottom: 10px;
}

#tarefa-lista li {
    align-items: center;
    color: #fff;
    margin: 16px 0;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.completed {
    text-decoration: line-through;
    color: red;

}
.tarefa-form.completed {
    text-decoration: line-through;
    color: red;

}

.tarefa-nome {
    display: inline-block;
    width: calc(30% - 20px);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
}

.complete-btn {
    background-color: #009432;
    color: white;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lobster', sans-serif;
    margin-left: 14px;
}

.delete-btn{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lobster', sans-serif;
    margin-left: 14px;
}

footer{
    color: white;
    padding: 7px;
    margin-top: 30px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
}